@media only  screen and (max-width:600px){
    .nav-bar {
        height: 40px;
        width: 100%;
        position: fixed;
    }
    .hero-area {
        height: 100vh;
        width: 100%;
    }
    .menu a {
        padding: 0 20px;
        color: black;
        font-size: 1.2rem;
    }
    .seacch {
        color: black;
    }
    .hero {
        background-image: url('../src/hero_image.png');
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        opacity: .75;
        position: relative;
    }
    .about-me {
        width: 100%;
        margin: 0 auto;
    }
    .about-me p {
        padding: 10px 20px;
    }
    .name img {
        padding-bottom: 40px;
    }
    .detials {
        display: flex;
        flex-direction: column;
    }
    .skill-area {
        width: 100%;
        padding: 10px 20px;
    }
    .top-area {  
        display: flex;
        flex-direction: column;
    }  
    .gallery-area {  
        width: 100%;
        margin: 0 auto;
    }  
    .gallery {  
        display: flex;  
        flex-direction: column; 
        margin: 0 auto;
        width: 80%;
        height: 50%;
    } 
    .gallery img {  
        width: 100%;  
        height: 100%;  
        border-radius: 8px;
    }  
    .work {
        display: flex;
        flex-direction: column; 
        margin: 0 auto;
    }  
    .contact-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .footer-area {
        width: 100%;
        height: 150px;
       
    }
}